.blog-page {
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        @extend %rub-r;
        max-width: 830px;
    }

    &__contentbox {
        margin-bottom: 24px;
    }

    &__content-imagesbox {
        position: relative;
        height: 501px;
        margin-bottom: 40px;
    }

    &__image {
        img {
            width: 830px;
            height: 501px;
            object-fit: cover;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 275px;
        height: 71px;
        background-color: #a3bbc8;
        font-size: 12px;
        line-height: 30px;
        color: #ffffff;
    }

    &__date {
        margin-right: 24px;
        padding-left: 18px;
        position: relative;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            background: url(../images/blog/icon/calendar-icon.svg) no-repeat center;
            width: 13px;
            height: 15px;
            left: 0;
            top: 7px;
        }
    }

    &__name {
        padding-left: 18px;
        position: relative;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            background: url(../images/blog/icon/user-icon.svg) no-repeat center;
            width: 13px;
            height: 15px;
            left: 0;
            top: 7px;
        }
    }

    &__title {
        font-size: 36px;
        line-height: 26px;
        color: #333333;
        margin-bottom: 34px;
    }

    &__description {
        max-width: 795px;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        margin-bottom: 40px;
    }

    &__link {
        border: 1px solid #a3bbc8;
        padding: 23px 86px 26px 20px;
        font-size: 15px;
        line-height: 12px;
        color: #a3bbc8;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: url(../images/blog/icon/arrow.svg) no-repeat;
            width: 22px;
            height: 9px;
            right: 20px;
            top: 28px;
        }
    }
}

.blog-page__sidebar {
    &-searchbox {
        width: 270px;
        margin-bottom: 60px;
    }

    &-search {
        display: flex;
    }

    &-searchinput {
        padding-left: 15px;
        padding-right: 15px;
        outline: none;
        height: 43px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: none;
        border-bottom: 1px solid rgba($color: #a3bbc8, $alpha: 0.4);
        ;
        border-left: 1px solid rgba($color: #a3bbc8, $alpha: 0.4);
        ;
        border-top: 1px solid rgba($color: #a3bbc8, $alpha: 0.4);
        ;

    }

    &-searchbtn {
        width: 48px;
        height: 43px;
        margin-left: -1px;
        background-color: #edf1f4;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            background: url(../images/blog/icon/search.svg) no-repeat center center;
            width: 18px;
            height: 18px;
        }
    }
}

.blog-page__sidebar-post {
    .sidebar-title::after {
        top: 10px;

    }
}

.recent-post {
    @extend %rub-r;

    &__item {
        max-width: 270px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }

    &__item-img {
        img {
            width: 71px;
            min-width: 71px;
            height: 71px;
            object-fit: cover;

        }
    }

    &__item-title {
        max-width: 179px;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }

    &__item-date {
        font-size: 12px;
        line-height: 30px;
        color: #9a9a9a;
        position: relative;

        svg {
            margin-right: 5px;
        }
    }

}

.blog-page .pagination {
    margin-top: 70px;
    justify-content: flex-start;

    .pagination__list li:first-child {
        margin-left: 0;
    }

}

/*Blog-details*/


.blog-details {
    &__article {
        border-bottom: 2px solid #ebebeb;

        &-text {
            color: #243f4d;
            @extend %rub-r;

            h3 {
                @extend %rub-m;
                font-size: 16px;
                line-height: 30px;
            }

            h4,
            h5 {
                @extend %rub-m;
                font-size: 18px;
                line-height: 30px;
                color: #243f4d;
                line-height: 30px;
            }

            h4 {
                margin-top: 75px;
            }

            h5 {
                margin-top: 45px;
            }

            p {
                font-size: 16px;
                color: #565872;
                line-height: 30px;
                margin-top: 20px;
                margin-bottom: 43px;
            }

            blockquote {

                font-size: 16px;
                line-height: 30px;
                padding: 25px 40px 0;
                margin-bottom: 45px;
                background-color: rgba($color: #a3bbc8, $alpha: 0.2);
                border-left: 7px solid #a3bbc8;
            }

            figcaption {
                margin-top: 22px;
                padding-left: 40px;
                line-height: 1;
                padding-bottom: 24px;
                font-size: 16px;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 20px;
                    height: 4px;
                    background-color: #a3bbc8;
                }
            }
        }
    }

    &__article-img--left {
        width: 323px;
        height: 210px;
        object-fit: cover;
        float: left;
        margin-right: 30px;
    }

    &__article-img--right {
        width: 323px;
        height: 210px;
        object-fit: cover;
        margin-left: 30px;
        float: right;
    }

    &__persona {
        @extend %rub-r;
        font-size: 16px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #ebebeb;
        padding-bottom: 13px;
        margin-bottom: 67px;
    }

    &__persona-info {
        max-width: 300px;
        width: 100%;
    }

    &__persona-img {
        float: left;
        margin-right: 28px;
        width: 76px;
        height: 76px;
        object-fit: cover;
    }

    &__persona-name {
        @extend %rub-m;
        font-size: 18px;
        line-height: 1;
        color: #333333;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    &__persona-profession {

        line-height: 30px;
        color: #666666;
    }

    &__persona-tags {
        margin-bottom: 26px;

    }

    &__persona-item {
        padding-top: 10px;
    }

    &__persona-link {
        color: #999999;
        margin-left: 20px;
    }

    &__persona-sociallink {
        margin: 0 10px;
    }


}

/*comments*/


.comments {
    color: #436372;
    @extend %rub-b;

    .resend {
        max-width: 700px;
        margin-left: auto;
        padding-top: 30px;
        margin-bottom: 30px;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        ;
    }

    &-title {
        font-size: 24px;
        line-height: 1px;
        margin-bottom: 60px;
    }

    &__title-counter {
        margin-right: 3px;
    }

    &__top {
        display: flex;
        // justify-content: space-between;
    }

    &__top-avatar {
        margin-right: 30px;
        min-width: 100px;
        height: 100px;

    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    // &__content
    // {
    //     border-bottom: 1px solid #e0e0e0;
    // }
    &__name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 16px;
    }

    &__date {
        @extend %rub-r;
        font-size: 14px;
        color: #9e9e9e;
    }

}

.comment {
    @extend %rub-r;
    margin-bottom: 20px;
    font-size: 16px;
    color: #565872;

    &-reply {
        @extend %rub-r;
        display: inline-block;
        margin-bottom: 30px;
        font-size: 14px;
        color: #526278;
        padding-right: 16px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: url(../images/blog/icon/Reply.svg) no-repeat;
            width: 14px;
            height: 16px;
            right: -2px;
            top: 1px;
        }
    }
}


/*Form add comment*/

.addcomment {
    @extend %rub-r;
    font-size: 16px;
    line-height: 36px;

    .comments-title {
        margin-top: 67px;
        margin-bottom: 50px;
    }

    &__input {
        position: relative;
        width: 398px;
        height: 50px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding-left: 20px;
        padding-right: 45px;
        margin-bottom: 20px;

        &::placeholder {
            color: #999999;
        }

        &+.addcomment__input {
            margin-left: 30px;
        }

    }

    &__textarea {
        min-width: 100%;
        height: 120px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        resize: none;
        padding-left: 20px;
        padding-right: 45px;
        margin-bottom: 40px;

        &::placeholder {
            color: #999999;
        }

    }

    &__btn {
        width: 190px;
        height: 50px;
        background-color: #a3bbc8;
        border: none;
        cursor: pointer;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #ffffff;
    }

}

@media (max-width: 1200px) {
    .blog-page__sidebar-item .sidebar-category {
        display: none;
    }
}