.contact
{
    &__inner
    {
        @extend %dms-b;
    }
    &__inner-top
    {
        text-align: center;
        margin-bottom: 75px;
    }
    &__subtitle
    {   
        font-size: 16px;
        line-height: 20px;
        color: #a3bbc8;
    }
    &__title
    {
        font-size: 35px;
        line-height: 57px;
        color: #436372;
    }
}

/*contact__box*/

.contact
{
    &__box
    {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    &__item
    {
        width: 370px;
        height: 380px;
        background-color: #fbfbfb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &:hover
        {
            border: 2px solid #a3bbc8;
            .contact__item-img
            {
                background-color: #a3bbc8;
            }
            path
            {
                fill: #ffffff;
            }
        }
    }
    &__item-img
    {
        width: 80px;
        height: 80px;
        box-shadow: 0px 6px 57px 0px rgba(37,37,37,0.05);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px; 
        transition: all .5s;
    }
    &__item-text,
    &__item-link
    {
        @extend %rub-r;
        font-size: 16px;
        line-height: 30px;
        color: #565872;
    }
    &__item-link
    {
        display: block;
    }
    &__form
    {
        width: 620px;
    }
    &__form-loc
    {
        display: flex;
        justify-content: space-between;
        .addcomment__input
        {
            text-transform: uppercase;
            width: 300px;
            & + .addcomment__input
            {
                margin-left: 16px;
                margin-bottom: 25px;
            }
        }
        .addcomment__textarea
        {
            height: 170px;
            margin-bottom: 27px;
            text-transform: uppercase;
        }
        .addcomment__btn
        {
            border-radius: 5px;
            
        }
    }
}
#map 
{
    width: 500px;
    height: 335px;
}