/*Footer*/
.footer-top
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a3bbc8;
    margin-top: 80px;
    padding-bottom: 75px;
}
.footer-top__section
{
    width: auto;
    text-decoration: none;
    &-adress
    {
        max-width: 200px;
        margin: 23px 0 23px;
        display: block;
    }
    &-phone
    {
        margin-bottom: 5px;
        display: block;
    }
}
.footer-title
{
    @extend %dms-b;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
    margin: 25px 0 29px;
}
.footer-top__section-item
{
    line-height: 32px;
}
.footer-top__section-description
{
    max-width: 220px;
    padding-top: 4px;
    margin-bottom: 38px;
}
.footer-top__section-form
{
    display: flex;
    &-input
    {
        width: 170px;
        height: 38px;
        font-size: 12px;
        border: none;
        background-color: #fcd7b6;
        padding-left: 16px;
    }
    &-btn
    {
        line-height: 21px;
        max-width: 100px;
        height: 38px;
        border: none;
        background-color: #a3bbc8;
        padding: 0 19px 0 16px;
        cursor: pointer;
    }
}
.footer-copy
{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list
    {
        display: flex;
    }
    &__list-item
    {
        position: relative;

        padding-left: 15px;
        padding-right: 15px
    }
    &__list-item:not(:last-child):after
    {
        position: absolute;
        content: '|';
        margin-left: 15px;
    }
}