html, body{height: 100%;}
.wrapper{display: flex;flex-direction: column; height: 100%;}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header
{
    @extend %rub-m;
}
.footer
{
    @extend %rub-r;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
}
.main{flex-grow: 1;}

.header-login {
    background-color: #edf1f4;
    margin-top: 144px;
    width: 100%;
    height: 125px;
    &__inner {
        padding-top: 35px;
        padding-bottom: 35px;
        text-align: center;
    }
}.top-title {
    @extend %rub-l;
    font-size: 36px;
    line-height: 24px;
    color: #1d3658;
    margin-bottom: 10px;
}
.breadcrumbs
{
    &-items
    {
        display: inline-flex;
    }
    &-item
    {
        @extend %rub-m;
        opacity: 0.6;
        font-size: 14px;
        line-height: 24px;
        padding-right: 18px;
        color: #222933;
        position: relative;
        &::after
        {
            position: absolute;
            content: '/';
            right: 0;
            margin-right: 5px;
        }
        &:last-child
        {
            padding-right: 0px;
            &::after
            {
                display: none;
            }
        }
    
    }
}
.login-page__sponsors {
    background-color: #fff7f0;
    padding: 82px 89px;

    &__img-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
    }

}
.mb-120
{
    margin-bottom: 120px;
}
.mb-70
{
    margin-bottom: 70px;
}
.mb-25
{
    margin-bottom: 25px;
}
.mb-0
{
    margin-bottom: 0;
}
.sidebar-price .mb-0
{
    margin-bottom: 0;
}
