html, body{height: 100%;}
.wrapper{display: flex;flex-direction: column; height: 100%;}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header
{
    @extend %rub-m;
}
.footer
{
    @extend %rub-r;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
}
.main{flex-grow: 1;}
.breadcrumbs
{
    &-items
    {
        display: inline-flex;
    }
    &-item
    {
        @extend %rub-m;
        opacity: 0.6;
        font-size: 14px;
        line-height: 24px;
        padding-right: 18px;
        color: #222933;
        position: relative;
        &::after
        {
            position: absolute;
            content: '/';
            right: 0;
            margin-right: 5px;
        }
        &:last-child
        {
            padding-right: 0px;
            &::after
            {
                display: none;
            }
        }
    
    }
}
.mb-120
{
    margin-bottom: 120px;
}
.mb-70
{
    margin-bottom: 70px;
}
.mb-25
{
    margin-bottom: 25px;
}

.dropmenu
{   
    &__items
    {
        @extend %rub-r;
        font-size: 16px;
        line-height: 43px;
        color:#243f4d;
        
    }
    &__link
    {
        display: block;
    }
    &__item
    {
        position: relative;
        width: 270px;
        height: 43px;
        border-radius: 5px;
        padding-left: 14px;
        transition: all 0.5s;
        &:hover
        {
            background-color: rgba($color: #a3bbc8, $alpha: 0.2);
            
            .dropmenu__items--hidden
            {
                display: block;
                opacity: 1;

            } 
        }
        &::after
        {
            content: '';
            position: absolute;
            background: url(../images/arrow-right.svg) no-repeat;
            width: 7px;
            height: 12px;
            top: 16px;
            right: 22px;
        }
    }
    &__btn--hidden
    {
        width: 200px;
        height: 43px;       
        border-radius: 5px;
        background-color: rgba($color: #a3bbc8, $alpha: 0.4);
        cursor: pointer;
    }
    &__items--hidden
    {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 280px;
        transition: all 0.3s;
    }

}
