.line
{
    @extend %rub-r;
    width: 875px;
    .catalog__list-item
    {
        width: 100%;
        height: 501px;
        padding: 0;
        display: flex;
    }
    .test__card
    {
        display: flex;
    }
    .test__card-img
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        background-color: rgba(255,255,255,0.96);
        border: 2px solid #f2f2f2;
        margin-right: 55px;
        
    }
    .test__card-img img
    {
        max-width: 323px;
        width: 100%;
        max-height: 340px;
        height: auto;  
    }
    .test__card-description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .test__card-text
    {
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        max-width: 410px;
    }
    .test__card-title
    {
        font-size: 40px;
        line-height: 26px;
        font-weight: 400;
        color: #333333;
        margin-bottom: 25px;
    }
    .test__card-rating
    {
        margin-bottom: 37px;
    }
    .test__card-price
    {
        margin-bottom: 35px;
    }
    .test__card-btnbox
    {
        display: flex;
    }
    .test__card-btn
    {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37,37,37,0.05);
        & svg 
        {
            path
                {
                   fill:#a3bbc8 ; 
                }
        }
            
    }
    .test__card-btn--active
    {
        background-color: #a3bbc8;
        & svg
        {
            path
                {
                   fill: #fff; 
                }
        }
    }
    .test__card-btn + .test__card-btn
    {
        margin-left: 11px;
    }

}


