%dms-b
{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%dms-m
{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}
%dms-r
{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}
%m_pro-r
{
    font-family: 'Myriad_Pro', sans-serif;
    font-weight: 400;
}
%rub-m
{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%rub-r
{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}
%rub-l
{
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}
%rub-b
{
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}
%pop-sb
{
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
}
%checkbox-hidden
{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}