<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
               {% include "app/module/_header/_header-top/_header-top.html" %}
            <div class="header-login mb-120">
                <div class="container">
                    <div class="header-login__inner">
                        <h2 class="top-title">Log in</h2>
                        <div class="breadcrumbs">
                            <ul class="breadcrumbs-items">
                                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Home</a></li>
                                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Log in</a></li>
                            </ul>
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </header>


        <main class="main">
            <section class="login-block">
                <div class="container">
                    <div class="login-block__inner">
                        <form class="login-block__form" action="#">
                            <label class="login-block__form-label">
                                Username or email address *
                                <input class="login-block__form-input" type="text" required>
                            </label>
                            <label class="login-block__form-label">
                                Password *
                                <input class="login-block__form-input" type="password" required>
                            </label>
                            <button class="login-block__form-btn" type="submit">Login</button>
                            <div class="form__box">
                                <label class="login-block__form-label">
                                    <input type="checkbox">Remember me
                                </label>
                                <a class="login-block__form-lostlink" href="#">Lost your password?</a>
                            </div>
                        </form>
                    </div>
                    <div class="createacc mb-120">
                        <p class="createacc-title">Not registered? No problem</p>
                        <a class="createacc-link" href="#">Create an account</a>
                    </div>

                </div>
            </section>

            <div class="login-page__sponsors">
                <div class="container">
                    <div class="login-page__sponsors__inner">
                        <div class="login-page__sponsors__img-box">
                            <div class="login-page__sponsors__img"><img class="login-page__sponsors__img"
                                    src="images/blog/sponsors/1.png" alt="sponsors"></div>
                            <div class="login-page__sponsors__img"><img class="login-page__sponsors__img"
                                    src="images/blog/sponsors/2.png" alt="sponsors"></div>
                            <div class="login-page__sponsors__img"><img class="login-page__sponsors__img"
                                    src="images/blog/sponsors/3.png" alt="sponsors"></div>
                            <div class="login-page__sponsors__img"><img class="login-page__sponsors__img"
                                    src="images/blog/sponsors/4.png" alt="sponsors"></div>
                            <div class="login-page__sponsors__img"><img class="login-page__sponsors__img"
                                    src="images/blog/sponsors/5.png" alt="sponsors"></div>
                        </div>
                    </div>

                </div>
            </div>
        </main>


{% include "app/module/_footer/_footer.html" %}
    </div>






    <script src="js/main.min.js"></script>
</body>

</html>