<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Terms.min.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
               {% include "app/module/_header/_header-top/_header-top.html" %}
            <div class="header-login mb-120">
                <div class="container">
                    <div class="header-login__inner">
                        <h2 class="top-title">Terms & Conditions</h2>
                        <div class="breadcrumbs">
                            <ul class="breadcrumbs-items">
                                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Home</a></li>
                                <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Terms & Conditions</a></li>
                            </ul>
                            </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        
        <section class="terms">
            <div class="container">
                <div class="terms__inner">
                    <p class="terms__title">Types of Personal Information We Collect</p>
                    <div class="terms__counter-list">
                        <span class="terms__counter">01.</span>
                        <p class="terms__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                    <div class="terms__counter-list">
                        <span class="terms__counter">02.</span>
                        <p class="terms__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                    </div>
                    <div class="terms__counter-list">
                        <span class="terms__counter">03.</span>
                        <p class="terms__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>                    
                    <div class="terms__counter-list">
                        <span class="terms__counter">04.</span>
                        <p class="terms__text">Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>                    
                    <div class="terms__counter-list mb-70">
                        <span class="terms__counter">05.</span>
                        <p class="terms__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </div>
                </div>
                <p class="terms__title mb-25">How marketpmss.com Collects Personal Infonnation</p>
                <p class="terms__text mb-70">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                <p class="terms__title mb-25">How marketprosscom Uses Personal Information</p>
                <p class="terms__text mb-120">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
        </section>


        <main class="main">
            <section class="blog">
                <div class="container">
                    <div class="blog__inner">
                        <div class="blog__top">
                            <h2 class="title">Our Insights & Articles</h2>
                            <a class="blog__top-viewall" href="#">View All</a>
                        </div>
    
                        <div class="blog__content">
                            <div class="blog__content-item">
                                <a class="blog__content-link" href="#"><img class="blog__content-img"
                                        src="images/blog/1.jpg" alt=""></a>
                                <a class="blog__content-news" href="#">News</a>
    
                                <div class="blog__content-box">
                                    <a class="blog__content-title" href="#">Diusmod tempor incididunt ut labore et dolore
                                        magna
                                        aliqua. Ut enim ad minim veniam</a>
                                    <div class="blog__content-box-inner">
                                        <p class="blog__content-date" href="#"> 28 JANUARY, 2020</p>
                                        <a class="blog__content-author" href="#"> BY ADMIN</a>
                                    </div>
                                </div>
    
                            </div>
                            <div class="blog__content-item">
                                <a class="blog__content-link" href="#"><img class="blog__content-img"
                                        src="images/blog/2.jpg" alt=""></a>
                                <a class="blog__content-news" href="#">News</a>
    
                                <div class="blog__content-box">
                                    <a class="blog__content-title" href="#">Aonsectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore </a>
                                    <div class="blog__content-box-inner">
                                        <p class="blog__content-date" href="#"> 28 JANUARY, 2020</p>
                                        <a class="blog__content-author" href="#"> BY ADMIN</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__content-item">
                                <a class="blog__content-link" href="#"><img class="blog__content-img"
                                        src="images/blog/3.jpg" alt=""></a>
                                <a class="blog__content-news" href="#">News</a>
    
                                <div class="blog__content-box">
                                    <a class="blog__content-title" href="#">Rncididunt ut labore et dolore magna aliqua. Ut
                                        enim </a>
                                    <div class="blog__content-box-inner">
                                        <p class="blog__content-date" href="#"> 28 JANUARY, 2020</p>
                                        <a class="blog__content-author" href="#"> BY ADMIN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="sponsors">
                    <div class="container">
                        <div class="sponsors__inner">
                            <div class="sponsors__img-box">
                            <img class="sponsors__img" src="images/blog/sponsors/1.png" alt="sponsors">
                            <img class="sponsors__img" src="images/blog/sponsors/2.png" alt="sponsors">
                            <img class="sponsors__img" src="images/blog/sponsors/3.png" alt="sponsors">
                            <img class="sponsors__img" src="images/blog/sponsors/4.png" alt="sponsors">
                            <img class="sponsors__img" src="images/blog/sponsors/5.png" alt="sponsors">
                        </div>
                        </div>
    
                    </div>
                </div>
        </main>


{% include "app/module/_footer/_footer.html" %}
    </div>






    <script src="js/main.min.js"></script>
</body>

</html>